.koura {
 display: flex;
 flex-direction: column;
 width: 50%;
 margin: auto;
 justify-content:space-between;
 border: solid black 20px;
 margin-top: 5%;
 padding-bottom: 1%;

}
.box img{
  width: 25%;
  height: 30%;
  border-radius: 100px;
  margin-left: 35%;
}
.box h1{
  text-align: center;
}
.dark {
  width: 250px;
margin: auto;
}